@media (min-width: 375px) and (max-width: 759px) {
    .text-welcome{
      
      
      background-image: url(./sky.jpg); 
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; 
      padding-bottom:100px;
       width:100%;
       text-align:center;
       padding-top:200px;
      
      
      } 
      
      .text-welcome > h1{
      color:#11c973;
      font-family:Arial, Helvetica, sans-serif; 
      font-size:6em;
      padding-bottom:0px;
      margin-bottom:0px;
      margin-top:0px;
      animation-name: text;
      animation-duration: 5s;
      font-weight:bolder;
       
      } 
      
      .text-welcome > h2{
        color:white;
        font-family:'Archivo Black', serif; 
        font-size:3em;
        margin-top:0;
        padding:0px;
      margin:0px;
      animation-name: text;
      animation-duration: 5s;
      
      
        
          
        } 
      
        .text-welcome > p{
          color:#4cc28b;
          font-family:Arial, Helvetica, sans-serif; 
          font-size:2.1em;
          padding:0px;
      margin:0px;
      animation-name:text;
      animation-duration: 5s;
      font-weight:lighter;
         
            
          } 
  
  
  
          .right > h2{
            font-family:Arial, Helvetica, sans-serif;
            font-size:1.5em;
            text-align: center;
            color:rgb(20, 20, 20);
            
            width:70%;
            margin-left:auto;
            margin-right:auto;
            font-weight:lighter;
            border:1px solid #4cc28b;
            
            
            
            } 
            
            .right > h3{
              font-family:'Open Sans', serif;
              font-size:1.3em;
              text-align: center;
              color:#a7a5a5;
              font-weight:lighter;
              
              
              } 
            
            .about-text{
             background-color:white; 
             color:rgb(78, 78, 78);
            
             font-family:'Open Sans', serif;
            font-size:1em;
             margin-top:40px;
            margin-bottom:80px; 
            text-align: left;
            font-weight:100;
            display:inline-block;
            
            
            
            } 
            
            
            .photo {
            width: 50%;
            border-radius:50%;
            height:auto;
            
            margin-top:60px;
            margin-bottom:40px; 
            margin-left:auto;
            margin-right:auto; 
            display:block;
            border: 1px solid #4cc28b;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            } 
            
            .right {
             width:80%;
            
             margin-right:auto;
            margin-left:auto;
            display:block;
            justify-content: center;
            
            
              } 
  
  
       /*skills mobile*/       
  
              .skills{
                color:rgb(245, 243, 243);
                font-family:Arial, Helvetica, sans-serif; 
                font-size:1.5em;
              text-transform:uppercase;
            font-weight:lighter;
                text-align: center;  
                
             
                } 
            
                .text-skills{
                  
                  margin-top:0px;
                  padding-top:150px;
            background-color: rgb(20, 20, 20);
                  text-align: center;
                 
                
                 
              } 
            
              .htmll{
                font-family:Arial, Helvetica, sans-serif;
                color:rgb(245, 243, 243);
                display:flex;
                padding:20px;
                margin:50px;
                font-weight:lighter;
                border: 1px solid #4cc28b;
                font-size:1em;
                justify-content: center;
                
            } 
            
            .programm{
              display:flex; 
            padding-left:80px;
            padding-right:80px;
            padding-bottom:40px;
            padding-top:40px;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            
            
            } 
            
            
            .skills2{
              color:rgb(20, 20, 20);
              font-family:Arial, Helvetica, sans-serif; 
              font-size:1.5em;
            text-transform:uppercase;
            font-weight:lighter;
              text-align: center;  
           
              } 
            
            
            .text-skills2{
                  
              margin-top:0px;
              padding-top:150px;
              background-color: white;
              text-align: center;
             
              margin-bottom:0px;
            } 
            
            .htmll2{
            font-family:Arial, Helvetica, sans-serif;
            color:rgb(20, 20, 20);
            display:flex;
            padding:20px;
            margin:50px;
            font-weight:lighter;
            border: 1px solid #4cc28b;
            font-size:1em;
            justify-content: center;
            } 
            
            .programm2{
            display:flex; 
            padding-top:40px; 
            padding-bottom:80px;
            padding-left:80px; 
            padding-right:80px;
            text-align: center;
            justify-content: center;
            margin-bottom:0px;
            
            flex-direction: column;
            
            } 
            
            
            
            
            
            .skills3{
              color:rgb(245, 243, 243);
              font-family:Arial, Helvetica, sans-serif; 
              font-size:1.5em;
            text-transform:uppercase;
            font-weight:lighter;
              text-align: center;  
            
              } 
            
            
            .text-skills3{
                  
              margin-top:0px;
              padding-top:150px;
              background-color: rgb(20, 20, 20);
              text-align: center;
              padding-bottom:100px;
             
            } 
            
            .htmll3{
            font-family:Arial, Helvetica, sans-serif;
            color:rgb(245, 243, 243);
            display:flex;
            padding:20px;
            margin:50px;
            font-weight:lighter;
            border: 1px solid #4cc28b;
            font-size:1em;
            text-align: center;
            justify-content: center;
            } 
            
            .programm3{
            display:flex; 
            
            text-align: center;
            justify-content: center;
            flex-direction: column;
            padding-left:80px;
            padding-right:80px;
            padding-bottom:10px;
            padding-top:40px;
            } 
            
            
            .sec4{
             background-color:white;
           
           
            
            } 
            .sec6{
              background-color: #4cc28b;;
              
             
              
              
              } 
          
              .what{
               font-family:Arial, Helvetica, sans-serif; 
               font-size:1.5em; 
               color:rgb(20, 20, 20);
               text-align:center;
               text-transform: uppercase;
               font-weight:bolder;
               padding-bottom:50px;
               padding-top:100px;
               font-weight:lighter;
               width:100%;
               
                
              }  
          
              .looking {
                margin-right:auto;
                margin-left:auto;
              display:block;
              
              justify-content: center;
              width:70%;
               }  
          
               .looking > p{
                font-family:Arial, Helvetica, sans-serif; 
                font-size:1.2em; 
                color:rgb(20, 20, 20);
                text-align:left; 
               padding-bottom:100px;
               }    
     
               .footer{
 
                font-family: Arial, Helvetica, sans-serif;
                font-weight:lighter;
                font-size:1em; 
                color:rgb(20, 20, 20);
                text-align:center;
               
               
               
                
              }
  }
  
  
